body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  input {
    margin-right: 10px;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  .game-info {
    margin: 0px 30px 0px 30px;
    padding: 10px;
    border-left: solid 1px black;
    border-right: solid 1px black;
  }
  .bg-game{
    display: flex;
    justify-content: center;
    max-height: max-content;
  }
  .title{
    display: flex;
    justify-content: space-around;
  }
  .title-item{
    margin: 0px 10px 0px 10px !important;
  }